In [1]:
import csv

In [2]:
import csv
with open(r'C:\Users\venkata.seshabattar\Desktop\Customer.csv','r') as csvfile:
    reader=csv.reader(csvfile)
    for record in reader:
        print(record)

['GeographyKey,Customer Name,BirthDate,Mstatus,Gender,EmailAddress,YearlyIncome,Education,Occupation,NumberCarsOwned,Address,AddressLine1,PhoneNumber,DateFirstPurchase']
['5,Wright A James ,10/21/2013,Married,Male,james70@ymail.com,70000,Bachelors,Professional,1,8478 Eastgate Ave.,8478 Eastgate Ave.,+7265550143,10/21/2013']
['6,Watson I Hailey ,2/8/2013,Married,Female,hailey18@ymail.com,40000,High School,Skilled Manual,2,9658 Guadalupe Dr.,9658 Guadalupe Dr.,+3335550115,2/8/2013']
['1,amirez H Bryce ,10/30/2013,Married,Male,bryce6@zmail.com,40000,High School,Skilled Manual,3,387 Glenside Court,387 Glenside Court,+7655550164,10/30/2013']
['6,Ross Kaitlyn ,11/23/2013,Married,Female,kaitlyn71@ymail.com,40000,High School,Skilled Manual,2,8391 Olivera,8391 Olivera,+6835550152,11/23/2013']
['6,Pillips Jason ,10/6/2013,Married,Male,jason35@ymail.com,40000,High School,Skilled Manual,2,2369 Whitehaven Dr.,2369 Whitehaven Dr.,+8085550157,10/6/2013']
['6,Patterson Natalie ,11/5/2013,Married,Female,natalie33@ymail.com,40000,High School,Skilled Manual,2,2777 Spring Hill Drive,2777 Spring Hill Drive,+8585550113,11/5/2013']
['6,Murphy S Eduardo ,11/18/2013,Married,Male,eduardo82@ymail.com,40000,High School,Skilled Manual,2,3032 Smoking Tree Court,3032 Smoking Tree Court,+5955550145,11/18/2013']
['6,Ward Destiny ,12/13/2013,Married,Female,destiny38@ymail.com,60000,Partial College,Skilled Manual,1,3935 Hawkins Street,3935 Hawkins Street,+1415550193,12/13/2013']
['6,Seamans Mike ,9/11/2013,Single,Female,mike5@ymail.com,40000,Bachelors,Professional,1,4678 Cardinal Dr.,4678 Cardinal Dr.,+2105550100,9/11/2013']
['1,Romero Albert ,11/5/2013,Single,Male,albert11@zmail.com,40000,Bachelors,Professional,1,45 Linton Terr.,45 Linton Terr.,+4445550178,11/5/2013']

In [3]:
import csv
with open(r'C:\Users\venkata.seshabattar\Desktop\Customer.csv','r') as csvfile:
    reader=csv.DictReader(csvfile)
    for record in reader:
        print(record)

OrderedDict([('GeographyKey,Customer Name,BirthDate,Mstatus,Gender,EmailAddress,YearlyIncome,Education,Occupation,NumberCarsOwned,Address,AddressLine1,PhoneNumber,DateFirstPurchase', '5,Wright A James ,10/21/2013,Married,Male,james70@ymail.com,70000,Bachelors,Professional,1,8478 Eastgate Ave.,8478 Eastgate Ave.,+7265550143,10/21/2013')])
OrderedDict([('GeographyKey,Customer Name,BirthDate,Mstatus,Gender,EmailAddress,YearlyIncome,Education,Occupation,NumberCarsOwned,Address,AddressLine1,PhoneNumber,DateFirstPurchase', '6,Watson I Hailey ,2/8/2013,Married,Female,hailey18@ymail.com,40000,High School,Skilled Manual,2,9658 Guadalupe Dr.,9658 Guadalupe Dr.,+3335550115,2/8/2013')])
OrderedDict([('GeographyKey,Customer Name,BirthDate,Mstatus,Gender,EmailAddress,YearlyIncome,Education,Occupation,NumberCarsOwned,Address,AddressLine1,PhoneNumber,DateFirstPurchase', '1,amirez H Bryce ,10/30/2013,Married,Male,bryce6@zmail.com,40000,High School,Skilled Manual,3,387 Glenside Court,387 Glenside Court,+7655550164,10/30/2013')])
OrderedDict([('GeographyKey,Customer Name,BirthDate,Mstatus,Gender,EmailAddress,YearlyIncome,Education,Occupation,NumberCarsOwned,Address,AddressLine1,PhoneNumber,DateFirstPurchase', '6,Ross Kaitlyn ,11/23/2013,Married,Female,kaitlyn71@ymail.com,40000,High School,Skilled Manual,2,8391 Olivera,8391 Olivera,+6835550152,11/23/2013')])
OrderedDict([('GeographyKey,Customer Name,BirthDate,Mstatus,Gender,EmailAddress,YearlyIncome,Education,Occupation,NumberCarsOwned,Address,AddressLine1,PhoneNumber,DateFirstPurchase', '6,Pillips Jason ,10/6/2013,Married,Male,jason35@ymail.com,40000,High School,Skilled Manual,2,2369 Whitehaven Dr.,2369 Whitehaven Dr.,+8085550157,10/6/2013')])
OrderedDict([('GeographyKey,Customer Name,BirthDate,Mstatus,Gender,EmailAddress,YearlyIncome,Education,Occupation,NumberCarsOwned,Address,AddressLine1,PhoneNumber,DateFirstPurchase', '6,Patterson Natalie ,11/5/2013,Married,Female,natalie33@ymail.com,40000,High School,Skilled Manual,2,2777 Spring Hill Drive,2777 Spring Hill Drive,+8585550113,11/5/2013')])
OrderedDict([('GeographyKey,Customer Name,BirthDate,Mstatus,Gender,EmailAddress,YearlyIncome,Education,Occupation,NumberCarsOwned,Address,AddressLine1,PhoneNumber,DateFirstPurchase', '6,Murphy S Eduardo ,11/18/2013,Married,Male,eduardo82@ymail.com,40000,High School,Skilled Manual,2,3032 Smoking Tree Court,3032 Smoking Tree Court,+5955550145,11/18/2013')])
OrderedDict([('GeographyKey,Customer Name,BirthDate,Mstatus,Gender,EmailAddress,YearlyIncome,Education,Occupation,NumberCarsOwned,Address,AddressLine1,PhoneNumber,DateFirstPurchase', '6,Ward Destiny ,12/13/2013,Married,Female,destiny38@ymail.com,60000,Partial College,Skilled Manual,1,3935 Hawkins Street,3935 Hawkins Street,+1415550193,12/13/2013')])
OrderedDict([('GeographyKey,Customer Name,BirthDate,Mstatus,Gender,EmailAddress,YearlyIncome,Education,Occupation,NumberCarsOwned,Address,AddressLine1,PhoneNumber,DateFirstPurchase', '6,Seamans Mike ,9/11/2013,Single,Female,mike5@ymail.com,40000,Bachelors,Professional,1,4678 Cardinal Dr.,4678 Cardinal Dr.,+2105550100,9/11/2013')])
OrderedDict([('GeographyKey,Customer Name,BirthDate,Mstatus,Gender,EmailAddress,YearlyIncome,Education,Occupation,NumberCarsOwned,Address,AddressLine1,PhoneNumber,DateFirstPurchase', '1,Romero Albert ,11/5/2013,Single,Male,albert11@zmail.com,40000,Bachelors,Professional,1,45 Linton Terr.,45 Linton Terr.,+4445550178,11/5/2013')])

In [4]:
import csv
with open(r'C:\Users\venkata.seshabattar\Desktop\Employees.csv','w') as csvfile:
    writer=csv.writer(csvfile)
    writer.writerow(['EmpId','Emp Name','Salary'])
    writer.writerow([1,'Ramesh',22001.00])
    writer.writerow([2,'Rakesh',26501.00])

In [5]:
import csv
with open(r'C:\Users\venkata.seshabattar\Desktop\Employees1.csv','w',newline='') as csvfile:
    writer=csv.writer(csvfile)
    writer.writerow(['EmpId','Emp Name','Salary'])
    writer.writerow([1,'Ramesh',22001.00])
    writer.writerow([2,'Rakesh',26501.00])

In [6]:
import csv
with open(r'C:\Users\venkata.seshabattar\Desktop\Employeees.csv','w',newline='') as csvfile:
    fields=['EmpId','Emp Name','Salary']
    writer=csv.DictWriter(csvfile,fields)
    writer.writeheader()
    writer.writerow({'EmpId':1,'Emp Name':'Ramesh','Salary':22001.00})
    writer.writerow({'EmpId':2,'Emp Name':'Rakesh','Salary':26501.00})

In [7]:
import csv
with open(r'C:\users\venkata.seshabattar\desktop\Persons.csv','w',newline='') as csvfile:
    data=csv.writer(csvfile)
    data.writerow(['ID','NAME','AGE','SEX'])
    data.writerow([1,'James','20','M'])
    data.writerow([2,'Katey','10','F'])
    data.writerow([3,'Kiran','40','M'])
    data.writerow([4,'Radha','19','F'])

In [8]:
import csv
with open(r'C:\users\venkata.seshabattar\desktop\Persons.csv','r',newline='') as csvfile:
    reader=csv.reader(csvfile)
    for header in reader:
        if header[3]=='F':
            print(header[1],"--",header[2])
        else:
              continue

Katey -- 10
Radha -- 19

In [9]:
import csv
with open(r'C:\users\venkata.seshabattar\desktop\Persons.csv','r',newline='') as csvfile:
    reader=csv.reader(csvfile) 
    for record in reader:
        if record[2]!='AGE':
            if int(record[2])<18:
                print(record)         
            
#     for minor in reader:
#         if int(minor[2])< 18:
#             print(minor[1])
#         else:
#             continue

['2', 'Katey', '10', 'F']

In [10]:
import csv
with open(r'C:\users\venkata.seshabattar\desktop\Person.csv','w',newline='') as csvfile:
    wrt=csv.writer(csvfile)
    wrt.writerow(['id','name','age'])
    wrt.writerow([1,'sunil','10'])
    wrt.writerow([2,'susanth','20'])
    wrt.writerow([3,'santhosh','23'])

In [11]:
import csv
file = open(r'C:\users\venkata.seshabattar\desktop\Person.csv')
csv_file = csv.reader(file)
for i in csv_file:
    header=i

print(len(header[1:]))

2

In [12]:
import openpyxl as xl
wb=xl.load_workbook(r'C:\Users\venkata.seshabattar\Desktop\sample.xlsx')
ws=wb.active
print(ws.title)

Sheet3

In [13]:
#Python program with excel
import openpyxl as xl

wb = xl.Workbook()

#Creating sheet
wb.create_sheet(title='Stud', index=0)
ws=wb['Stud']

# Creating columns
ws['A1']="Student Id"
ws['B1']='Student Name'
ws['C1']='Marks'
ws['D1'] ='Calculated Marks'

#Insert values
ws.append(['1','Senthil',98])
ws.append(['2','Saranya',79])
ws.append(['3','Praneeth',43])
ws.append(['4','Rishanth',69])
ws.append(['5','Kumar',44])
ws.append(['6','Sharmista',37])
ws.append(['7','Swastika',22])
ws.append(['8','Duabkoor',82])




#inser values based on other values

ws['D2'].value= ws['C2'].value * 0.6
ws['D3'].value= ws['C3'].value * 0.6
ws['D4'].value= ws['C4'].value * 0.6
ws['D5'].value= ws['C5'].value * 0.6
ws['D6'].value= ws['C6'].value* 0.6

wb.save (r'C:\Users\venkata.seshabattar\Desktop\student.xlsx')
cells=ws['A1':'C4']
for row in cells:
    for cell in row:
        print(cell.value,end=' ')
    print()

Student Id Student Name Marks
1 Senthil 98
2 Saranya 79
3 Praneeth 43